:root {
    --aig-primary-color: #0073e6;
    --aig-secondary-color: #005bac;
    --aig-border-color: #ccc;
    --aig-border-radius: 5px;
}

/* Styles pour l'overlay */
.aig-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

/* Styles pour l'animation de chargement */
.aig-loading-animation {
    border: 8px solid #f3f3f3;
    border-top: 8px solid var(--aig-primary-color);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Styles pour les résultats (images) */
.aig-image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

/* Ajoutez ces classes pour gérer la mise en page responsive */
.aig-image {
    max-width: 100%;
    height: auto;
    margin: 10px;
}

/* Créez une classe pour la rangée (row) personnalisée */
.aig-results {
    margin-bottom: 25px;
}
.custom-row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

/* Créez une classe pour les colonnes personnalisées (col-md-4) */
.custom-col {
    flex: 0 0 33.3333%;
    max-width: 33.3333%;
    padding: 0 15px;
    box-sizing: border-box;
}

/* Styles pour les images à l'intérieur des colonnes */
.custom-col .aig-image {
    max-width: 100%;
    height: auto;
}

@media (max-width: 767px) {
    .custom-col {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

/* Styles pour les boutons de téléchargement */
.aig-download-button {
    display: block;
    margin-top: 5px;
    text-align: center;
    text-decoration: none;
    background-color: var(--aig-primary-color);
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: var(--aig-border-radius);
    cursor: pointer;
}

.aig-download-button:hover {
    background-color: var(--aig-secondary-color);
}

/* Styles pour le formulaire de génération d'images */
.aig-form-container {
    background-color: #f8f8f8;
    border: 1px solid var(--aig-border-color);
    border-radius: var(--aig-border-radius);
    margin: 20px;
    padding: 20px;
    position: relative;
}

.aig-form-container hr {
    margin: 30px 0;
}

.aig-form-container .btn-primary {
    width: 100%;
}

#aig-credits * {
    display: inline-block !important;
    visibility: visible !important;
}
#aig-credits, #aig-credits a {
    color: rgba(0, 0, 0, 0.5) !important;
    font-size: 10px !important;
}

/* Styles pour le champ de description */
.aig-textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--aig-border-color);
    border-radius: var(--aig-border-radius);
}

/* Styles pour les cases à cocher en ligne */
.aig-topic-buttons .form-check-inline {
    display: inline-block;
    margin-right: 10px;
}

/* Style pour le bouton "Generate Image" */
.aig-button {
    background-color: var(--aig-primary-color);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: var(--aig-border-radius);
    cursor: pointer;
}

.aig-button:hover {
    background-color: var(--aig-secondary-color);
}
